{% if rke2_config.write_kubeconfig_mode is defined %}
write-kubeconfig-mode: "{{ rke2_config.write_kubeconfig_mode }}"
{% endif %}
cni: cilium

# Node identification
node-name: {{ inventory_hostname }}

# TLS SAN entries for all cluster members
tls-san:
  - "127.0.0.1"
  - "kubernetes"
  - "kubernetes.default"
  {# Control plane node hostnames #}
{% for host in groups['control_plane_nodes'] %}
  - "{{ host }}"
  - "{{ hostvars[host]['ansible_host'] }}" 
{% endfor %}
{% if groups['worker_nodes'] is defined %}
{# Worker node hostnames #}
{% for host in groups['worker_nodes'] %}
  - "{{ host }}"
  - "{{ hostvars[host]['ansible_host'] }}"
{% endfor %}
{% endif %}

# Cluster formation
{% if inventory_hostname == groups['control_plane_nodes'][0] %}
cluster-init: true
{% else %}
server: https://{{ hostvars[groups['control_plane_nodes'][0]]['ansible_host'] }}:9345
{% endif %}

token: {{ rke2_token }}

{% if inventory_hostname in groups['control_plane_nodes'] %}
# Control plane configuration
disable-kube-proxy: true

node-label:
  - "node.kubernetes.io/instance-type=control-plane"
  - "kubernetes.io/hostname={{ inventory_hostname }}"
  - "workload.type=control-plane"
{% else %}
# Worker node configuration
node-label:
  - "node.kubernetes.io/instance-type=worker"
  - "kubernetes.io/hostname={{ inventory_hostname }}"
  - "workload.type=mixed"
{% endif %}

# Cluster settings
cluster-domain: cluster.local
additional-sans:
{% for host in groups['control_plane_nodes'] %}
  - "{{ host }}"
  - "{{ hostvars[host]['ansible_host'] }}"
{% endfor %}
{% if groups['worker_nodes'] is defined %}
{% for host in groups['worker_nodes'] %}
  - "{{ host }}"
  - "{{ hostvars[host]['ansible_host'] }}"
{% endfor %}
{% endif %}

{% if inventory_hostname in groups['control_plane_nodes'] %}
enabled:
  - embedded-registry
{% endif %}
